<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!--<package name="com.qunar.fresh.model.HolidayModel" />-->
        <!--<typeAlias type="com.qunar.fresh.model.HolidayModel" alias="HolidayModel"/>-->
    </typeAliases>


    <!--枚举类型-->
    <typeHandlers>
        <typeHandler handler="com.qunar.base.meerkat.orm.mybatis.type.CodeEnumTypeHandler"
                     javaType="com.qunar.fresh.enums.Gender"/>
    </typeHandlers>
    <!--物理分页-->
    <plugins>
        <plugin interceptor="com.qunar.base.meerkat.orm.mybatis.support.ResultSetHandlerInterceptor"/>
        <plugin interceptor="com.qunar.base.meerkat.orm.mybatis.support.StatementHandlerInterceptor"/>
        <!--<plugin interceptor="com.qunar.fresh.plugin.TestPlugin">-->
            <!--<property name="slowMillisecond" value="1"/>-->
        <!--</plugin>-->
    </plugins>
</configuration>